{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">

	{#======	HEADER CENTER	=======#} 
	<div class="header-middle {{hidden_headercenter}}">
		<div class="container">
			<div class="row">			
				<div class="navbar-logo col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="logo">
				   		{{soconfig.get_logo()}}
				   	</div>
				</div>				
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">					
					<div class="search-header-w">
						<div class="icon-search hidden-lg hidden-md hidden-sm"><i class="fa fa-search"></i></div>								
						{{ search_block }}
					</div>					
				</div>
                                    
				<div class="middle-right col-lg-5 col-md-5 col-sm-6 col-xs-8">	
                                    {% if soconfig.get_settings('phone_status') and soconfig.get_settings('contact_number') %}
					
						{{ soconfig.decode_entities( soconfig.get_settings('contact_number') ) }}
					
					{% endif %}    
					
	 {% if logged %}
                                    <div class="hidden-sm hidden-xs welcome-msg" style="display:inline-block;float: right">
                                            <div>
                                                 <div style="text-align: right;" class="col-md-10" >
                                                     <div style='margin-bottom:-5px'>
                                                         <h3 style='font-size:16px;margin-bottom:0px !important'>{{customer_info.firstname}}</h3>
                                                         <div>{{customer_info.email}}</div>
                                                     </div>
                                                         <div >
                                                              <div class="account" id="my_account" ><a id="my_account" href="{{ account }}" title="{{ text_account }} " class="dropdown-toggle" data-toggle="dropdown"> <span class="hidden-xs">{{ text_account }} </span> <span class="fa fa-caret-down"></span></a>
                                                                  <ul class="dropdown-menu dropdown-menu-right">
                                                                    <li><a href="{{ account }}">{{ text_account_panel }}</a></li>
                                                                    <li><a href="{{ order }}">{{ text_order }}</a></li>
                                                                    <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                                                                    <li><a href="{{ wishlist }}"  title="{{ text_wishlist }}">{{ text_wishlist }}</a></li>
                                                                    <li><a href="{{ compare }}" title="{{ text_compare }}">{{ text_compare }}</a></li>
                                                                    <li><a href="{{ download }}">{{ text_download }}</a></li>
                                                                    <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                                                                  </ul>
                                                               </div>
                                                            </div>    
                                                 </div>
                                                <div class="col-md-2">
                                                     <a style="margin-bottom: 0px;width: 6em;border-radius: 9%;background-image: url('{{ thumbUrl }}');background-size: cover;background-position: center;height: 6em;" class="myprofile--thumb thumbnail" href="{{ edit }}" ></a>
                                                 </div>
                                         </div> 
                                     </div>
                                {% else %}
                                    <div class="hidden-sm hidden-xs welcome-msg" style="display:inline-block;float: right">
                                            <div>
                                                 <div style="text-align: right;" class="col-md-12" >
                                                     <div style='margin-bottom:-5px'>
                                                         <h3 style='font-size:16px;margin-bottom:0px !important'>{{text_guest}}</h3>
                                                        
                                                     </div>
                                                         <div style="margin-top: 1em;" >
                                                                <a style="margin: 10px;border-right: 1px solid #666666;padding-right: 10px;" href="{{ register }}">{{ text_register }}</a>
                                                                <a href="{{ login }}">{{ text_login }}</a>
                                                            </div>
                                                 </div>
                                         </div> 
                                                 
                                    </div>
                                {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="header-bottom {{hidden_headerbottom}}">
		<div class="container">
			
				<div class="bottom2">
					{{ content_menu1 }}
                                        <div class="shopping_cart" style="position: relative; top: 0; padding-left: 3em;padding-right: 3em;background-color: #3c6d9c;">							
                                       {{ cart }}
                                    </div>
				</div>		
		</div>
	</div>
</header>
            