{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">
	{#======	HEADER TOP	=======#}  
	<div class="header-top hidden-compact">
		<div class="container">
			<div class="row">
				<div class="header-top-left col-lg-5 col-md-2 hidden-sm hidden-xs">
					{% if soconfig.get_settings('welcome_message_status') %}
						<div class="hidden-md hidden-sm hidden-xs welcome-msg">
							{% if soconfig.get_settings('welcome_message') is not empty %}
								{{ soconfig.decode_entities( soconfig.get_settings('welcome_message') ) }}
							{% endif %} 
						</div>
					{% endif %}
					
					{% if soconfig.get_settings('phone_status') and soconfig.get_settings('contact_number') %}
					<div class="telephone hidden-xs hidden-sm hidden-md" >
						{{ soconfig.decode_entities( soconfig.get_settings('contact_number') ) }}
					</div>
					{% endif %}
							
				</div>
				<div class="header-top-right collapsed-block col-lg-7 col-md-10 col-sm-12 col-xs-12">
				<div class="inner">	
					{% if soconfig.get_settings('lang_status') %}
					<ul class="top-link list-inline lang-curr">
						{% if currency %}<li class="currency"> {{ currency }}  </li> {% endif %}
						{% if language %} <li class="language">{{ language }} </li>	{% endif %}			
					</ul>				
					{% endif %} 		
					<ul class="top-link list-inline">
						<li class="account" id="my_account"><a href="{{ account }}" title="{{ text_account }} " class="btn-xs dropdown-toggle" data-toggle="dropdown"> <span>{{ text_account }} </span> <span class="fa fa-caret-down"></span></a>
							<ul class="dropdown-menu ">
									<li><a href="{{ wishlist }}"  title="{{ text_wishlist }}">{{ text_wishlist }}</a></li>
									<li><a href="{{ compare }}" title="{{ text_compare }}">{{ text_compare }}</a></li>
								{% if logged %}
						            <li><a href="{{ account }}">{{ text_account }}</a></li>
						            <li><a href="{{ order }}">{{ text_order }}</a></li>
						            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
						            <li><a href="{{ download }}">{{ text_download }}</a></li>
						            <li><a href="{{ logout }}"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ text_logout }}</a></li>
					            {% else %}

						            <li><a href="{{ register }}">{{ text_register }}</a></li>
						            <li><a href="{{ login }}">{{ text_login }}</a></li>
					            {% endif %}															
							</ul>
						</li>	

						<li class="wishlist hidden-sm hidden-xs"><a href="{{ wishlist }}" id="wishlist-total" class="top-link-wishlist" title="{{ text_wishlist }} "><!-- <i class="fa fa-heart"></i> --> {{ text_wishlist }} </a></li>	

						{% if soconfig.get_settings('checkout_status') %}
							<li class="checkout hidden-sm hidden-xs"><a href="{{ checkout }} " class="btn-link" title="{{ text_checkout }} "><span >{{ text_checkout }} </span></a></li>
						{% endif %}

						{# {% if logged %}
							<li class="hidden-sm hidden-xs"><a href="{{ logout }}"><i class="fa fa-unlock-alt"></i>{{ text_logout }}</a></li>
			            {% else %}
				            <li class="hidden-sm hidden-xs"><a href="{{ login }}"><i class="fa fa-lock"></i>{{ text_login }}</a></li>
			            {% endif %}	 #}

			            <li class="shopping_cart hidden-xs">							
						 	{{ cart }}
						</li>
					</ul>
					<ul class="wishlist-comp hidden-md hidden-sm hidden">
						<li class="compare hidden-xs"><a href="{{ compare }}"  class="top-link-compare" title="{{ text_compare }} "><i class="fa fa-refresh"></i>{# {{ text_compare }} #}</a></li>
								
					</ul>					
				</div>	
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-bottom {{hidden_headerbottom}}">
		<div class="container">
			<div class="row">			
				<div class="navbar-logo col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="logo">
				   		{{soconfig.get_logo()}}
				   	</div>
				</div>
				<div class="main-menu col-lg-9 col-md-9">	
					{{ content_menu1 }}	

					<div class="search-header-w">
						<div class="searchw-inner">
							<div class="icon-search"><i class="fa fa-search"></i></div>								
							{{ search_block }}
						</div>
					</div>	
				</div>
					
				
			</div>
		</div>
	</div>	
		
</header>