{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">
	{#======	HEADER TOP	=======#}  
	<div class="header-top hidden-compact">
		<!-- <div class="container"> 
			<div class="row">-->
				<div class="header-top-left col-lg-5 col-md-5 col-sm-5 col-xs-12">
					{% if soconfig.get_settings('phone_status') and soconfig.get_settings('contact_number') %}
					<div class="telephone hidden-xs hidden-sm hidden-md col-sm-5" >
						{{ soconfig.decode_entities( soconfig.get_settings('contact_number') ) }}
					</div>
					{% endif %}
					<ul class="top-link list-inline">	
						{% if soconfig.get_settings('welcome_message_status') %}
							<li class="hidden-md hidden-sm hidden-xs welcome-msg">
								{% if soconfig.get_settings('welcome_message') is not empty %}
									{{ soconfig.decode_entities( soconfig.get_settings('welcome_message') ) }}
								{% endif %} 
							</li>
						{% endif %}				
						
			        </ul>
			        {% if soconfig.get_settings('lang_status') %}
					<ul class="top-link list-inline lang-curr">
						{% if currency %}<li class="currency"> {{ currency }}  </li> {% endif %}
						{% if language %} <li class="language">{{ language }} </li>	{% endif %}			
					</ul>				
					{% endif %}
				</div>
				<div class="header-top-right collapsed-block col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<div class="inner">	
					 		
					<ul class="top-link list-inline">
						<li class="account" id="my_account"><a href="{{ account }}" title="{{ text_account }}" class="btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{ text_account }}<span class="fa fa-caret-down"></span></a>
							<ul class="dropdown-menu ">
									<li><a href="{{ wishlist }}"  title="{{ text_wishlist }}">{{ text_wishlist }}</a></li>
									<li><a href="{{ compare }}" title="{{ text_compare }}">{{ text_compare }}</a></li>
								{% if logged %}
						            <li><a href="{{ account }}">{{ text_account }}</a></li>
						            <li><a href="{{ order }}">{{ text_order }}</a></li>
						            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
						            <li><a href="{{ download }}">{{ text_download }}</a></li>
						            <li><a href="{{ logout }}"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ text_logout }}</a></li>
					            {% else %}

						            <li><a href="{{ register }}">{{ text_register }}</a></li>
						            <li><a href="{{ login }}">{{ text_login }}</a></li>
					            {% endif %}															
							</ul>
						</li>	

						<li class="wishlist hidden-sm hidden-xs"><a href="{{ wishlist }}" id="wishlist-total" class="top-link-wishlist" title="{{ text_wishlist }} "><i class="fa fa-heart"></i>{{ text_wishlist }} </a></li>	

						{% if soconfig.get_settings('checkout_status') %}
							<li class="checkout hidden-md hidden-sm hidden-xs"><a href="{{ checkout }} " class="btn-link" title="{{ text_checkout }} "><i class="fa fa-check-square-o"></i>{{ text_checkout }}</a></li>
						{% endif %}

						{% if logged %} 
							<li class="log logout hidden-sm hidden-xs"><a class="link-lg" href="{{ logout }} "><i class="fa fa-unlock"></i> {{ text_logout }} </a></li>
						{% else %}   
							<li class="log login hidden-sm hidden-xs"><a class="link-lg" href="{{ login }} "><i class="fa fa-lock"></i> {{ text_login }} </a></li>								
						{% endif %}  
					
					</ul>
					
					<div class="shopping_cart">							
					 	{{ cart }}
					</div>				
				</div>	
				</div>
			<!--</div>
		 </div> -->
	</div>
	
	<div class="header-bottom {{hidden_headerbottom}}">
		<!-- <div class="container"> 
			<div class="row">-->			
				<div class="navbar-logo col-lg-3 col-md-3 col-sm-4 col-xs-6">
					<div class="logo">
				   		{{soconfig.get_logo()}}
				   	</div>
				</div>
		
				<div class="bottom-right col-lg-9 col-md-9 col-sm-8 col-xs-6">							           
					<div class="search-header-w">
						<div class="searchw-inner">
							<div class="icon-search hidden-lg"><i class="fa fa-search"></i></div>								
							{{ search_block }}
						</div>
					</div>	
					{{ content_menu1 }}	
				</div>
					
				
			<!--</div>
		 </div> -->
	</div>	
		
</header>