{#
****************************************************** 
 * @package	SO Framework for Opencart 3.x
 * @author	http://www.opencartworks.com
 * @license	GNU General Public License
 * @copyright(C) 2008-2017 opencartworks.com. All rights reserved.
 ******************************************************
#}
<div id="panel-menu" class="side-menu panel panel-left">
    <div class="content">
        <div class="panel-left__top clearfix text-center">
            <div class="panel-logo">
                {{soconfig.get_logoMobile()}}
            </div>
            {% if soconfig.get_settings('barsearch_status') %}
                <div class="panel-search">
                    {{ search }}
                </div>
            {% endif %}


        </div>

        {% if logged %}
            <div class="ester-mobile-login">
                 <div  style="float: left; margin-left: 10px;">
                    <a style="margin-bottom: 0px;width: 4em;border-radius: 9%;background-image: url('{{ thumbUrl }}');background-size: cover;background-position: center;height: 4em;" class="myprofile--thumb thumbnail" href="{{ edit }}" ></a>
                </div>
                <div style="float: right; margin-right: 23px;margin-left: 10px;">
                    <div style='margin-bottom:-5px'>
                        <h3 style='font-size:16px;margin-bottom:0px !important'>{{customer_info.firstname}}</h3>
                        <div style="    font-size: 11px;">{{customer_info.email}}</div>
                    </div> 
                </div>
                <div class="ester-compare-whishlist">
    {% if soconfig.get_settings('barcompare_status') %}
                <div class="col-xs-6">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <div class="bot-inner">
                        <a href="{{compare}}">{{text_compare}}</a>
                    </div>
                </div>
            {% endif %}

            {% if soconfig.get_settings('barwistlist_status') %}
                <div class="col-xs-6">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <div class="bot-inner">
                        <a href="{{wishlist}}">{{text_wishlist}}</a>
                    </div>
                </div>
            {% endif %} 
            </div>  
                
                
            </div>
                       
                 <div class="responsive megamenu-style-dev" style="max-height: initial;">
                    <div class=" container-megamenu   horizontal ">
			
                    <div class="megamenu-wrapper iflogged">

			<div class="megamenu-pattern">
                    		<div class="container">
                                        <ul class="megamenu" data-transition="slide" data-animationtime="500">
                                            <li class="menu-profile with-sub-menu hover" >
                                                <p class='close-menu'></p>
                                                <a class="clearfix" >
                                                    <strong>
                                                        <i class="fa fa-user-o"></i>Мой профиль
                                                    </strong>

                                                    <b class='caret'></b>
                                                </a>

                                                <div class="sub-menu" style="width: 720px">
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="html item-layouts">
                                                                    <p><a href="index.php?route=account/account">Мои данные</a></p>
                                                                    <p><a href="index.php?route=account/address">Мои адреса</a></p>
                                                                    <p><a href="index.php?route=account/order">Мои заказы</a></p>
                                                                    <p><a href="index.php?route=account/transaction">Мои платежи</a></p>
                                                                    <p><a href="index.php?route=account/logout">Выйти</a></p>
                                                                </div>
                                                            </div>
                                                        </div>												
                                                    </div>
                                                </div>										
                                            </li>
                                         </ul>
                                </div>
                          </div>
                    </div>
                </div>
            </div>
                
           
                          
        {% else %}

            <div class="ester-mobile-login" >
                <div style="float: left; margin-left: 10px;">
                    <a style="margin-bottom: 0px;width: 4em;border-radius: 9%;background-image: url('{{ img_guest }}');background-size: cover;background-position: center;height: 4em;" class="myprofile--thumb thumbnail"></a>
                </div>
                <div style=" float: right; margin-right: 27px;">
                    <div style='margin-bottom:-5px'>
                        <h3 style='font-size:16px;margin-bottom:0px !important'>{{text_guest}}</h3>

                    </div>
                    <div style="margin-top: 1em;" >
                        <a style="border-right: 1px solid #666666;padding-right: 10px;" href="{{ register }}">{{text_register }}</a>
                        <a href="{{ login }}">{{ text_login }}</a>
                    </div>
                </div>
                <div class="ester-compare-whishlist">
    {% if soconfig.get_settings('barcompare_status') %}
                <div class="col-xs-6">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <div class="bot-inner">
                        <a href="{{compare}}">{{text_compare}}</a>
                    </div>
                </div>
            {% endif %}

            {% if soconfig.get_settings('barwistlist_status') %}
                <div class="col-xs-6">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <div class="bot-inner">
                        <a href="{{wishlist}}">{{text_wishlist}}</a>
                    </div>
                </div>
            {% endif %} 
            </div>   
        </div>      
        {% endif %}
        
    

            {{content_menu2}}
        

        <div class="panel-left__bottom clearfix text-center">
           


            {% if language  %}
                <div class="col-xs-6 panel-left__language">
                    {{ language }}
                    <h4>{{text_language}}</h4>
                </div>
            {% endif %}

            <div class="col-xs-6 panel-left__language">
                {{ currency }}
                <h4>{{text_currency}}</h4>
            </div>


        </div>
    </div>
</div>

