<nav class="navPages">
	<ul class="navPages-list">
		<li class="navPages-item">
			 <a class="navPages-action" href="{{home}}">{{ text_home }}</a>
		</li>
		{% for category in categories %}
			{% if category.children %}
				<li class="navPages-item">
					<a class="navPages-action has-subMenu" href="{{ category.href }}">
						{{ category.name }}
					</a>
					
					<div class="navPage-subMenu"  aria-hidden="true" tabindex="-1">
					<ul class="navPage-subMenu-list">
						{% for child in category.children %} 
						<li class="navPage-childList-item">
								<a class="navPage-childList-action" href="{{ child.href }}">
									{{ child.name }}
								</a>
						</li>
						{% endfor %}
					</ul>
					</div>
					
				</li>
			{% else %}
				<li class="navPages-item">
					<a class="navPages-action"  href="{{ category.href }}">
						{{ category.name }}
					</a>
					
				</li>
		   {% endif %}
	   {% endfor %}
   </ul>
   <ul class="navPages-list navPages-list--user">
        <li class="navPages-item" ><a class="navPages-action" href="{{ checkout }}" title="{{ text_checkout }}">{{ text_checkout }}</a></li>
		<li class="navPages-item"><a class="navPages-action" href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> {{ text_shopping_cart }}</a></li>
      
		<li class="navPages-item">
			<a class="navPages-action" href="{{ login }}">{{ text_login }}</a> or <a class="navPages-action" href="{{ register }}">{{ text_register }}</a>
		</li>
    </ul>
</nav>
