<style>
    #form-parse .form-control {
        background-color: white;
        border: 2px solid lightgray;
        width: 100%;
    }

    #form-parse .but.col{
        padding-left: 24%;
    }

    #form-parse .btn.btn-primary {
        margin-left: auto;
        margin-right: auto; 
        width: 70%;
    }
    
    .btn-csv-positive{
        width: 50%;
    } 

    .progress-container .progress{
        height: 15px;
    } 

</style>
{{ header }}
<div class="pts-container">
    <ul class="pts-breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
    </ul>
    <div class="successdiv">
        {% if success %}
            <div class="alert pts-alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
        {% endif %}
    </div>
    <div class="errordiv">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
        {% endif %}
    </div>
    <div class="pts-row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'pts-col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'pts-col-sm-9' %}
        {% else %}
            {% set class = 'pts-col-sm-12' %}
        {% endif %}
        <div id="pts-content" class="{{ class }}">{{ content_top }}
            <div class="pts-pull-right">
            </div>
            <h1>{{ heading_title }}</h1>
 
            Добавить источник из имеющихся
            <form action="index.php?route=extension/aruna/sellerparserlist/addparser" method="post">
                <input type="hidden" name="parser_id">
                {% for id, parser in parser_list %}
                    <button onclick="$('input[name=parser_id]').val('{{id}}')">Добавить {{parser.name}}</button>
                {% endfor %}
            </form>

            <div class="pts-panel-body">
                <form id='form-parse'>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>{{text_select_parser}}</label>
                                <select class="form-control"  >
                                    {% for sync in sync_list %}
                                        <option value="{{sync.sync_id}}">{{sync.sync_name}} (Последнее скачивание: {{sync.sync_last_started}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="but col" > 
                            <button type="button" class="btn btn-csv-positive" style="width:50%"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                            <button type="submit" class="btn btn-positive" style="width:50%"><i class="fa fa-download"></i>{{button_parse}}</button>
			    <button type="button" class="btn btn-secondary"><i class="fa fa-eye"></i>Открыть</button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </div>    
                </form>
            </div>
              
                       
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
<script type="text/javascript">

    $(document).on('ready', function(){
        var sync_id = $('#form-parse select').find('option[value='+$('#form-parse select').val()+']').html();
        if(sync_id.indexOf('Импорт CSV')>-1){  
            $(".btn.btn-csv-positive").show();
            $(".btn.btn-positive").hide();
        } else {
            $(".btn.btn-positive").show();
            $(".btn.btn-csv-positive").hide();
        }
    });
    
    $('#form-parse select').on('change', function(){
        var sync_id = $('#form-parse select').find('option[value='+$('#form-parse select').val()+']').html();
        if(sync_id.indexOf('Импорт CSV')>-1){  
            $(".btn.btn-csv-positive").show();
            $(".btn.btn-positive").hide();
        } else {
            $(".btn.btn-positive").show();
            $(".btn.btn-csv-positive").hide();
        }
    });
    
    $("#form-parse .btn-danger").click(function(){
        if( confirm("Удалить источник из списка доступных") ){
            var sync_id = $('#form-parse select').val();
            $.post('index.php?route=extension/aruna/sellerparserlist/deleteparser', {sync_id: sync_id}, function (ok) {
                location.reload();
            });
        }
    });
    $("#form-parse .btn-secondary").click(function(){
	var sync_id = $('#form-parse select').val();
	location = 'index.php?route=extension/aruna/sellersync&sync_id='+sync_id;
    });

    var syncing_in_progress=false;
    $("#form-parse").on('submit', function (e) {
        var sync_id = $(this).find('select').val();
        if( syncing_in_progress || !sync_id ){
            return;
        }
        syncing_in_progress=true;
        $("#form-parse .btn-positive").html('<i id="spinner_icon" class="fa fa-circle-o-notch fa-spin"></i>{{button_parsing}}');
        e.preventDefault();
        $.post('index.php?route=extension/aruna/sellerparserlist/startParsing', {sync_id: sync_id}, function (ok) {
            syncing_in_progress=false
            if (ok*1) {
                alert('{{text_loading_completed}}');
                $("#form-parse .btn-positive").html('<i id="spinner_icon" class="fa fa-circle-o-notch fa-spin"></i>{{button_parse_completed}}');
                location = 'index.php?route=extension/aruna/sellersync&sync_id='+sync_id;
            } else {
                $("#form-parse .btn-positive").html('{{button_parse}}');
                alert("Error occured: "+ok);
            }
        });
    });
    
$('button.btn-csv-positive').on('click', function() {
	var element = this;
	$('#form-upload').remove();
	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
	$('#form-upload input[name=\'file\']').trigger('click');
	if (typeof timer != 'undefined') {
            clearInterval(timer);
	}
	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);
			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();
					if (json['error']) {
						$(element).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}
					if (json['success']) {
                                                var sync_id = $("#form-parse").find('select').val();
						$(element).parent().find('input').val(json['code']);
                                                $.post('index.php?route=extension/aruna/sellerparserlist/startParsing', {sync_id: sync_id, code: json['code']}, function (ok) {
                                                    syncing_in_progress=false
                                                    if (ok*1) {
                                                        alert('{{text_loading_completed}}');
                                                        $("#form-parse .btn-positive").html('<i id="spinner_icon" class="fa fa-circle-o-notch fa-spin"></i>{{button_parse_completed}}');
                                                        location = 'index.php?route=extension/aruna/sellersync&sync_id='+sync_id;
                                                    } else {
                                                        $("#form-parse .btn-positive").html('{{button_parse}}');
                                                        alert("Error occured: "+ok);
                                                    }
                                                });
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
</script>
{{ footer }}