{{ header }}
<div id="account-order" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      
      
      <div class=" well">
                <div class=" row">
                       <div class=" col-sm-2">
                        <div class=" form-group new_order_id">
                              <label class=" control-label" for="input-order-id">Номер документа</label>
                              <select name="filter_order_id" id="input-order-id" class=" form-control">
                                <option value="*">{{ text_all}}</option>
                                      {% for order_id in seller_order_ids %}
                                      {% if order_id.order_id == filter_order_id %}
                                <option value="{{ order_id.order_id }}" selected="selected">{{ order_id.order_id }}</option>
                                {% else %}
                                <option value="{{ order_id.order_id }}">{{ order_id.order_id }}</option>
                                {% endif %}
                                {% endfor %}
                              </select>
                        </div>
                      </div>  
                      <div class=" col-sm-2">
                        <div class=" form-group ">
                              <label class=" control-label" for="input-seller-order-status">{{ entry_order_status }}</label>
                              <select name="filter_seller_order_status" id="input-seller-order-status" class=" form-control">
                                <option value="*">{{ text_all}}</option>
                                      {% for seller_order_status in seller_order_statuses %}
                                      {% if seller_order_status.order_status_id == filter_seller_order_status %}
                                <option value="{{ seller_order_status.order_status_id }}" selected="selected">{{ seller_order_status.name }}</option>
                                {% else %}
                                <option value="{{ seller_order_status.order_status_id }}">{{ seller_order_status.name }}</option>
                                {% endif %}
                                {% endfor %}
                              </select>
                        </div>
                      </div>  
                      <div class=" col-sm-2">
                        <div class=" form-group ">
                              <label class=" control-label" for="input-sync-id">Синхронизатор</label>
                              <select name="filter_sync_id" id="input-sync-id" class=" form-control">
                                <option value="*">{{ text_all}}</option>
                                      {% for sync in seller_sync_list %}
                                      {% if sync.sync_id == filter_sync_id %}
                                <option value="{{ sync.sync_id }}" selected="selected">{{ sync.sync_name }}</option>
                                {% else %}
                                <option value="{{ sync.sync_id }}">{{ sync.sync_name }}</option>
                                {% endif %}
                                {% endfor %}
                              </select>
                        </div>
                      </div>  
                      <div class=" col-sm-2">
                        <div class=" form-group new_customer_id ">
                              <label class=" control-label" for="input-customer-id">Клиент</label>
                              <select name="filter_customer_id" id="input-customer-id" class=" form-control">
                                <option value="*">{{ text_all}}</option>
                                 {% for customer in seller_customer_list %}
                                      {% if customer.customer_id == filter_customer_id %}
                                <option value="{{ customer.customer_id }}" selected="selected">{{ customer.customer_name }}</option>
                                {% else %}
                                <option value="{{ customer.customer_id }}">{{ customer.customer_name }}</option>
                                {% endif %}
                                {% endfor %}
                              </select>
                        </div>
                      </div>   
                      <div class=" col-sm-2">
                        <div class=" form-group date">
                              <label class=" control-label" for="input-date-added">{{ entry_date_from }}</label>
                              <div class=" input-group date">
                                <input type="text" name="filter_date_from" value="{{ filter_date_from }}" placeholder="{{ entry_date_from }}" data-date-format="YYYY-MM-DD" id="input-date-from" class=" form-control" />
                                <span class=" input-group-btn">
                                <button type="button" class=" btn  btn-default"><i class="fa fa-calendar"></i></button>
                                </span></div>
                        </div>
                      </div>
                      <div class=" col-sm-2">
                        <div class=" form-group date">
                              <label class=" control-label" for="input-date-modified">{{ entry_date_to }}</label>
                              <div class=" input-group date">
                                <input type="text" name="filter_date_to" value="{{ filter_date_to }}" placeholder="{{ entry_date_to }}" data-date-format="YYYY-MM-DD" id="input-date-to" class=" form-control" />
                                <span class=" input-group-btn">
                                <button type="button" class=" btn  btn-default"><i class="fa fa-calendar"></i></button>
                                </span></div>
                        </div>        
                      </div>        
                </div>
                <div class="row">
                      <div class=" col-sm-10">
                      {% if filter_date_from is not empty or filter_date_to is not empty or filter_order_status is not empty %}
                                      <div class="col-sm-6">{{ entry_total_sale }} <b>{{ total_sale }}</b></div>
                                  {% endif %}
                      </div>
                </div>
                     
	  </div>
                    <div class="well">
                        <div class=" row">
                            <div class=" col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="input-name">Название товара</label>
                                    <input type="text" name="filter_new_product_name" value="{{ filter_name }}" placeholder="Введите название" id="input-name" class="form-control" />
                                    <input type="hidden" name="filter_new_product_id" value="" placeholder="Введите название" id="input-new_product_id" class="form-control" />
                                </div>
                            </div>
                             <div class ="col-sm-3" id="new-product-options">    
                                <div class=" row">
                                    <div class="col-sm-12">    
                                        <div class=" form-group new_product_option">
                                            <label class=" control-label" for="input-new-product-options">Опции</label>
                                            <select name="new_product_option" id="input-new-product-options" class=" form-control">
                                                <option value="*">Товар не выбран</option>
                                            </select>    
                                        </div>
                                    </div>
                                </div>    
                            </div>     
                            <div class=" col-sm-1">    
                                <div class=" form-group new_product_quantity" style="display:none">    
                                    <label class=" control-label">Количество</label>
                                    <div class=" input-group new_product_quantity" >
                                        <input type="text"  name="new_product_quantity" id="new_product_quantity" value="" placeholder="0" class="form-control">
                                    </div>      
                                </div> 
                            </div>    
                            <div class=" col-sm-1">      
                                <div class=" form-group new_product_price" style="display:none"> 
                                    <label class=" control-label">Цена</label>
                                    <div class=" input-group new_product_price" >
                                        <input type="text" name="new_product_price" id="new_product_price" value="" placeholder="0" class="form-control">
                                    </div>
                                </div>    
                            </div>
                            <div class=" col-sm-2" style="float: inline-end">      
                                <div class=" form-group" style="float: inline-end"> 
                                    <label class=" control-label"></label>
                                    <div class="add-order-product">
                                        <button id="add-order-product-button" data-loading-text="{{ text_loading }}" class="btn btn-primary button confirm-button">Добавить товар</button>
                                    </div> 
                                </div>      
                             </div>     
                        </div>      
                    </div>      
                      {{ seller_order_entries_list }}
           
                                 
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
    <script type="text/javascript">
        $(document).on('ready', function(){
            var hash = window.location.hash.split('#')[1];
            if (hash){
                $('select[name=\'filter_order_id\']').val(hash);
            } else {
                $('select[name=\'filter_order_id\']').val('*');
            }
            $('input[name=\'filter_new_product_id\']').val('');
            $('input[name=\'filter_new_product_name\']').val('');
            $('select[name=\'filter_sync_id\'], select[name=\'filter_customer_id\'], select[name=\'filter_seller_order_status\']').val('*');
            getList();
        });
        
        $(window).on('hashchange', function() {
            getList();
         });
        
        $(document).trigger('reload_seller_order_entries_table', true);

        
        var count_loading = 0;
        function ajaxLoadingOn() {
            $('body > .tooltip').remove();
            count_loading++;
            if (count_loading === 1) {
                $('.so-onepagecheckout #so-checkout-confirm-button').button('loading');
                $('.so-onepagecheckout #so-checkout-confirm-button, .so-onepagecheckout .checkout-register, .so-onepagecheckout .checkout-payment-form, .so-onepagecheckout .checkout-shipping-form, .checkout-cart, .so-onepagecheckout .confirm-section, .so-onepagecheckout .checkout-shipping-methods, .so-onepagecheckout .checkout-payment-methods, .so-onepagecheckout .coupon-voucher').addClass('checkout-loading');
            }
        }

        function ajaxLoadingOff() {
            count_loading--;
            if (count_loading === 0) {
                $('.so-onepagecheckout #so-checkout-confirm-button').button('reset');
                $('.so-onepagecheckout #so-checkout-confirm-button, .so-onepagecheckout .checkout-register, .so-onepagecheckout .checkout-payment-form, .so-onepagecheckout .checkout-shipping-form, .checkout-cart, .so-onepagecheckout .confirm-section, .so-onepagecheckout .checkout-shipping-methods, .so-onepagecheckout .checkout-payment-methods, .so-onepagecheckout .coupon-voucher').removeClass('checkout-loading');
            }
        }
        function getList(){
            $('#seller_order_entries_table').addClass('disabledcontent');
            var data = {};
            var current_page = $('.pagination .active span').html();
            $(' select[name=\'filter_sync_id\'], select[name=\'filter_customer_id\'], select[name=\'filter_seller_order_status\'], input[name=\'filter_date_from\'], input[name=\'filter_date_to\']').each(function () {
                data[$(this).attr('name')] = $(this).val();
            });
            var hash = window.location.hash.split('#')[1];
            if(hash){
                data.filter_order_id = hash;
            } else{
                data.filter_order_id = $('select[name=\'filter_order_id\']').val();
            }
            data.start = current_page;
            $.ajax({
                url: 'index.php?route=extension/aruna/sellerorder_entries/renderList',
                type: 'post',
                cache: false,
                data: data,
                dataType: 'html',
                beforeSend: function () {
                    $('#confirm-button').button('loading');
                    $('#confirm-button').attr("disabled", true);
                    
                },
                success: function (html) {
                    $('#seller_order_entries_table').removeClass('disabledcontent');
                    $('#seller_order_entries_table').replaceWith(html);
                    if (hash){
                        $('select[name=\'filter_order_id\']').val(hash);
                    } else {
                        $('select[name=\'filter_order_id\']').val('*');
                    }
                    }
                });
        }
        
        $(document).delegate('.form-group.my-input', 'change', function(e){
            var product_id = e.target.id;
            var id1 = product_id.split("_");
            var order_id = $('#order_' + id1[1]+'_' + id1[2]);
            var data = {
                product_id: id1[1],
                order_product_id: id1[2],
                order_id: order_id[0].innerHTML,
                product_quantity: $('#quantity_' + id1[1]+'_' + id1[2]).val(),
                product_price: $('#price_' + id1[1]+'_' + id1[2]).val()
            };
            $.ajax({
                url: 'index.php?route=extension/aruna/sellerorder_entries/updateSellerOrderProduct',
                type: 'post',
                cache: false,
                data: data,
                dataType: 'json',
                beforeSend: function () {
                    
                },
                complete: function () {
                    getList();
                    return;
                },
                success: function () {
                   
                }
            });
            
        });
        
        function deleteProduct(node){
            var product_id = node.id;
            var id1 = product_id.split("_");
            var order_id = $('#order_' + id1[1]+'_' + id1[2]);
            var data = {
                product_id: id1[1],
                order_product_id: id1[2],
                order_id: order_id[0].innerHTML,
                product_quantity: 0,
                product_price: 0
            };
            $.ajax({
                url: 'index.php?route=extension/aruna/sellerorder_entries/deleteSellerOrderProduct',
                type: 'post',
                cache: false,
                data: data,
                dataType: 'json',
                beforeSend: function () {
                    
                },
                complete: function () {
                    getList();
                    return;
                },
                success: function () {
                   
                }
            });
        };
        
        
        $(document).delegate('select[name=\'filter_sync_id\'], select[name=\'filter_customer_id\'], select[name=\'filter_seller_order_status\']', 'change', function(){
            getList();
        });  
        
         $(document).delegate('select[name=\'filter_order_id\']', 'change', function(){
            window.location.hash = $('select[name=\'filter_order_id\']').val(); 
        });  
        
        $('.date').change(function(){
            getList();
        });
        
        $('input[name=\'filter_new_product_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/aruna/sellerorder_entries/productAutocomplete',
                        type: 'post',
                        data: {
                            filter_name: request,
                            filter_model: request
                        },
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id'],
                                                options: item['options'],
                                                price: item['price']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_new_product_name\']').val(item['label']);
                $('input[name=\'filter_new_product_id\']').val(item['value']);
                $('input[name=\'new_product_price\']').val(item['price']);
                $('input[name=\'new_product_quantity\']').val('1');
                $('.form-group.new_product_price,.form-group.new_product_quantity').show();
                newProductOptions(item['options']);
	}});
        function newProductOptions(option_data){
            if(!option_data){
                return;
            }
            var option_length = option_data.length;
            var html = '<div class="row"><div class="col-sm-'+12/option_length+'"><div class=" form-group">';
            for(var k = 0; k < option_data.length; k++){
                var option_name = option_data[k].name;
                var product_option_id = option_data[k].product_option_id;
                html += '<label class=" control-label" for="input-new-product-options">'+option_name+'</label><select name="new_product_option'+product_option_id+'" id="input-new-product-options" class=" form-control">';
                for (var i = 0; i < option_data[k].product_option_value.length; i++){
                    var option_value = option_data[k].product_option_value[i];
                    html += '<option value="'+product_option_id+'_'+option_value.product_option_value_id+'" selected="selected">'+option_value.name+'</option>'
                }
                html +='</select>'
            }
            html += '</div></div></div>';
            $('#new-product-options').html(html);
        }
        
        $(document).delegate('.confirm-button', 'click', function(){
            var product_option = $('#input-new-product-options').val();
            var option = product_option.split('_');
            var product_option_id = option[0];
            var product_option_value_id = option[1];

            var data = {
                product_id: $('input[name=\'filter_new_product_id\']').val(),
                order_id: $('select[name=\'filter_order_id\']').val(),
                product_price: $('input[name=\'new_product_price\']').val(),
                product_quantity: $('input[name=\'new_product_quantity\']').val(),
                product_option_id: product_option_id,
                product_option_value_id: product_option_value_id
            };
          
            var errors = ''
            if (data.product_id == ''){
                alert('Товар не выбран!');
                return;
            }
            for (var key in data){
                var match = data[key].match(/[a-z]|[A-Z]/);
                if (data[key] == '*'){
                    errors += 'Заполните поле: ' +  $('.new_' + key + ' .control-label').html() + '\n';
                    $('.new_' + key + ' select').attr('style', 'box-shadow: 0px 0px 4px red inset !important');
                } else if (match){
                    errors += 'Поле должно сожержать только числовые значения: ' + $('.new_' + key + ' .control-label').html() + '\n';
                    $('.new_' + key + ' input').attr('style', 'box-shadow: 0px 0px 4px red inset !important');
                } else {
                    $('.new_' + key + ' input').attr('style', 'box-shadow: none !important');
                    $('.new_' + key + ' select').attr('style', 'box-shadow: none !important');
                }
            }
            if(errors){
                    alert(errors);
                    return;
            }
            $.ajax({
                url: 'index.php?route=extension/aruna/sellerorder_entries/addSellerOrderProduct',
                type: 'post',
                cache: false,
                data: data,
                dataType: 'json',
                beforeSend: function () {
                    
                },
                complete: function () {
                    getList();
                    return;
                },
                success: function () {
                   
                }
            });
            
        });

        
</script>
<script src="admin/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="admin/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js" type="text/javascript"></script>
<script src="admin/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="admin/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
//--></script>
  <style>
      .disabledcontent{
        pointer-events: none;
        opacity: 0.4;
    }
    .grid-container {
        background-color: rgba(255, 255, 255, 0.8);
        display: grid;
        grid-template-columns: 10% 7% 8% 22% 11% 12% 12% 9% 9%;
        border: 1px solid lightgray;
        margin-top: -1px;
      }

.grid-container > div {
  padding: 5px;
  margin: auto 0px;
}

.form-group.my-input, .form-group.my-input input{
    margin: auto 0px;
}
.grid-container.grid-header{
    background-color: #f5f5f5;
    font-weight:bold;
}
@media only screen and (max-width: 1200px) {
   .grid-container{grid-template-columns: auto;}
   
   .grid-container.grid-header{
        margin-bottom: 10px;
    }
   .grid-container{
        margin-bottom: 10px;
    }
   
  .item-customer-name { display:none }
  .item-order-id      { display:none }
  .item-order-status-name { display:none }
  .item-product-name { grid-area: 1 / 1 / 1 / 5 }
  .item-product-quantity { grid-area: 2 / 1 / 2 / 2 }
  .item-product-price { grid-area: 2 / 2 / 2 / 4 }
  .item-total-price { grid-area: 2 / 4 / 2 / 5 }
  .item-date-added { display:none }
  .item-action { grid-area: 3 / 4 / 4 / 5  }
  
   .header-item-customer-name { display:none  }
  .header-item-order-id      { display:none  }
  .header-item-order-status-name { display:none }
  .header-item-product-name { display:none}  
  .header-item-product-quantity { grid-area: 2 / 1 / 2 / 2 }
  .header-item-product-price { grid-area: 2 / 2 / 2 / 4 }
  .header-item-total-price { grid-area: 2 / 4 / 2 / 5 }
  .header-item-date-added { display:none }
  .header-item-action { display:none  }
  
  
}
  </style>
{{ footer }}
