{{ header }}
<div class="pts-container">
  <ul class="pts-breadcrumb">
	{% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
  </ul>
  <div class="successdiv">
  {% if success %}
  <div class="alert pts-alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
	{% endif %}
   </div>
   <div class="errordiv">
	{% if error_warning %}
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
	{% endif %}
	</div>
  <div class="pts-row">{{ column_left }}
	{% if column_left and column_right %}
    {% set class = 'pts-col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'pts-col-sm-9' %}
    {% else %}
    {% set class = 'pts-col-sm-12' %}
    {% endif %}
    <div id="pts-content" class="{{ class }}">{{ content_top }}
	<div class="pts-pull-right">
      </div>
      <h1>{{ heading_title }}</h1>
      <div class="pts-panel-body">
        <div class="pts-well">
          <div class="pts-row">
            <div class="pts-col-sm-6">
              <div class="pts-form-group ptsnewcss">
                <label class="pts-control-label" for="input-name">Название категории</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="Поиск" id="input-name" class="pts-form-control"/>
              </div>
            </div> 
          </div>
        </div>
            
        <form action="" method="post" enctype="multipart/form-data" id="form-import">
                <div class="pts-form-group">
                    <label class="pts-control-label" for="input-quantity">Комиссия по умолчанию</label>
                <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="Укажите Вашу комиссию" id="input-quantity" class="pts-form-control" />
                </div> 
          <div class="pts-table-responsive">
            <table class="pts-table pts-table-bordered pts-table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="pts-text-center" {% if category.category_lvl3 %} colspan="3" {% else %} colspan="2" {% endif %} >Название категории</td>
                  <td style="width: 1px;" class="pts-text-left"> Всего товаров </td>
                  <td class="pts-text-left"> Комиссия </td>
                  <td class="pts-text-left"> Конечная папка </td>
                </tr>
              </thead>
              <tbody>
				{% if categories %}
					{% for category in categories %}
                <tr class="x-form-row">
                  <td class="pts-text-left">{{ category.category_lvl1 }}</td>
                  <td class="pts-text-left">{{ category.category_lvl2 }}</td>
                  
                  {% if category.category_lvl3 %}
                      
                  <td class="pts-text-left">{{ category.category_lvl3 }}</td>
                  
                  {% endif %}
                  
                  <td class="pts-text-left">{{ category.total_products }}</td>
                  <td class="pts-text-left">
                        <input type="text" name="category_comission" value="{{ category_comission }}" placeholder="%" id="input-quantity" class="pts-form-control" />
                  </td>
                  <td class="pts-text-left">
                        <select name="destination_category">
                                <option value="">Пропустить</option>
                                {% for category in destination_categories %}
                                        <option  value="{{ category.category_id }}" {% if link.category == category.category_id %} {{ 'selected' }} {% endif %}>{{ category.category_path }}</option>
                                {% endfor %}
                        </select>
                  </td>
                  <td>
                      <input type="hidden" name="category_lvl1" value="{{ category.category_lvl1 }}"/>
                      <input type="hidden" name="category_lvl2" value="{{ category.category_lvl2 }}" />
                      <input type="hidden" name="category_lvl3" value="{{ category.category_lvl3 }}" />
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="pts-text-center" colspan="11">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="pts-row">
          <div class="pts-col-sm-6 pts-text-left">{{ pagination }}</div>
          <div class="pts-col-sm-6 pts-text-right">{{ results }}</div>
            <div>
                <button type="submit" id="pts-button-import" class="pts-btn pts-btn-primary pts-pull-right"><i class="fa fa-plus"></i> Импортировать </button>  
            </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript">

$('input[name=\'filter_name\']').val('');


var seller_id="{{seller_id}}";
$("#form-import").on('submit',function(e){
    e.preventDefault();
    var fvalue=[];
    $("#form-import .x-form-row").each(function(index,value){
        var item={
            category_lvl1: $(this).find('input[name=category_lvl1]').val(),
            category_lvl2: $(this).find('input[name=category_lvl2]').val(),
            category_lvl3: $(this).find('input[name=category_lvl3]').val(),
            category_comission: $(this).find('input[name=category_comission]').val().replace(/[^\d\.]/g,''),
            destination_category: $(this).find('select[name=destination_category]').val()
        };
        fvalue.push(item);
    });
    $.post('index.php?route=extension/aruna/sellersync/importUserData', {data: JSON.stringify(fvalue),seller_id:seller_id}, function(ok){
        if(ok){
            return;
        };
    });
});

$('#pts-button-import').on('click', function() {
        
        var category_lvl1 = $('input[name=category_lvl1]').val();
        var category_lvl2 = $('input[name=category_lvl2]').val();
        var category_lvl3 = $('input[name=category_lvl3]').val();
        var category_comission = $('input[name=category_comission]').val();
        var destination_category = $('option[name=destination_category]').val();
  
});
</script>
  <script type="text/javascript">
$('input[name=\'filter_name\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/aruna/sellersync/autocomplete&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
                                                group_id: item['group_id'],
						label: item['name'],
						total_products: item['total_products']
					};
				}));
			}
		});
               
	},
	select: function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
                
                var url = 'index.php?route=extension/aruna/sellersync';

                var filter_name = $('input[name=\'filter_name\']').val();

                if (filter_name) {
                        url += '&filter_name=' + encodeURIComponent(filter_name);
                }
                
                location = url;
                }
});
</script>
{{ footer }}