<div id="seller_order_entries_table">
      {% if seller_orders_entries_list %}
                 {% for product in seller_orders_entries_list %}
                 <div class="grid-container" >  
                      <div style="display:none">
                          <input type="hidden" id="order_product_{{ product.product_id }}_{{ product.order_product_id }}" value="{{ product.order_product_id }}">
                      </div>  
                    <div class="text-left item-customer-name">{{ product.customer_name }}</div>
                    <div class="text-left item-order-id" id="order_{{ product.product_id }}_{{ product.order_product_id }}">{{ product.order_id }}</div>
                    <div class="text-left item-order-status-name">{{ product.order_status_name }}</div>
                    <div class="text-left item-product-name">{{ product.product_name }}</div>
                    <div class="text-left item-product-quantity">
                        <div class=" form-group my-input item-product-quantity">
                              <div class=" input-group product_quantity">
                                <input style="width: 60%; padding:0px 7px" type="text" id="quantity_{{ product.product_id }}_{{ product.order_product_id }}" value="{{ product.quantity }}" placeholder="{{ product.quantity }}">
                                <span style="margin-left: 5px;">шт.</span>
                              </div>
                        </div>  
                    </div>
                    <div class="text-left item-product-price">
                        <div class=" form-group my-input product_price">
                              <div class=" input-group product_price">
                                <input style="width: 70%" type="text" id="price_{{ product.product_id }}_{{ product.order_product_id }}" value="{{ product.price }}" placeholder="{{ product.price }}">
                                <span style="margin-left: 5px;">руб.</span>
                              </div>
                        </div>  
                    </div>
                    <div class="text-left item-total-price" id="price_total_{{product.product_id }}">{{ product.total_price }} руб.</div>
                    <div class="text-left item-date-added">{{ product.date_added }}</div>
                    <div class="text-right item-action">
                        <a id="delete_{{ product.product_id }}_{{ product.order_product_id }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-info button-delete" onclick="deleteProduct(this)"><i class="fa fa-trash"></i></a>
                    </div>
                 </div> 
                  {% endfor %}
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
            {% else %}
            <p>{{ text_empty }}</p>
            {% endif %}
      </div>   