{{ header }}
<div class="container dashboard">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
    </ul>
    {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'pts-col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'pts-col-sm-9' %}
        {% else %}
            {% set class = 'pts-col-sm-12' %}
        {% endif %}

        
            <div class="row">
                <div id="content" class="col-md-9 col-sm-8">
                    <div class="dashboard--main">
                        <div class="dashboard--top">
                            <h2 style="margin-bottom:50px;">{{ heading_title }}</h2>

                            <div class="row ">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <a class="boxicon--default" href="{{ sellerorder }}">
                                        <span class="icon_cart">  <i class="fa fa-list" aria-hidden="true"></i></span>
                                        <h4>{{ text_Orders }}</h4>
                                    </a>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <a class="boxicon--default" href="{{ sellerproduct }}">
                                        <span class="icon_cart">  <i class="fa fa-exchange" aria-hidden="true"></i></span>
                                        <h4>{{ text_Manage_products }}</h4>
                                    </a>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <a class="boxicon--default" href="{{ sellerparserlist }}">
                                        <span class="icon_cart">  <i class="fa fa-cloud-download" aria-hidden="true"></i></span>
                                        <h4>{{ text_SellerParserList }}</h4>
                                    </a>

                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <a class="boxicon--default" href="{{ sellerenquiry }}">
                                        <span class="icon_cart">  <i class="fa fa-group" aria-hidden="true"></i></span>
                                        <h4>{{ text_Customer_Enquiries }}</h4>
                                    </a>

                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <a class="boxicon--default" href="{{ sellerreview }}">
                                        <span class="icon_cart">  <i class="fa fa-comment" aria-hidden="true"></i></span>
                                        <h4>{{ text_Seller_reviews }}</h4></a>
                                    </a>

                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <a class="boxicon--default" href="{{ sellerview }}">
                                        <span class="icon_cart">  <i class="fa fa-institution" aria-hidden="true"></i></span>
                                        <h4>{{ text_View_Store }}</h4>
                                    </a>

                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <a class="boxicon--default" href="{{ sellerstore }}">
                                        <span class="icon_cart">  <i class="fa fa-question" aria-hidden="true"></i></span>
                                        <h4>{{ text_Store_information }}</h4>
                                    </a>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <a class="boxicon--default" href="{{ sellercommission }}">
                                        <span class="icon_cart">  <i class="fa fa-percent" aria-hidden="true"></i></span>
                                        <h4>{{ text_Commisions }}</h4>
                                    </a>

                                </div>

                            </div>
                        </div>
                    </div>    
                </div>   
                            {{ content_bottom }}
                        {{ column_right }}</div>
                </div>
                {{ footer }}