{{ header }}
<div class="pts-container">
  <ul class="pts-breadcrumb">
	{% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
  </ul>
  <div class="successdiv">
  {% if success %}
  <div class="alert pts-alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
	{% endif %}
   </div>
   <div class="errordiv">
	{% if error_warning %}
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
	{% endif %}
	</div>
  <div class="pts-row">{{ column_left }}
	{% if column_left and column_right %}
    {% set class = 'pts-col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'pts-col-sm-9' %}
    {% else %}
    {% set class = 'pts-col-sm-12' %}
    {% endif %}
    <div id="pts-content" class="{{ class }}">{{ content_top }}
	<div class="pts-pull-right">
      </div>
      <h1>{{ heading_title }}</h1>
      <div class="pts-panel-body">
                <form id='form-parse'>
                    <div class="row">
                        <div class="col">
                           <div class="form-group">
                            <label>{{text_select_parser}}</label>
                                <select class="form-control"  style="background-color: white; border: 2px solid lightgray; width: 100%">
                                    <option value="{{parser_name}}">{{parser_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col" style="padding-left: 24%;"> 
                            <button type="submit" class="btn btn-primary" style="margin-left: auto;margin-right: auto; width: 70%;"></button>  
                        </div>
                    </div>    
                </form> 
              <div class="progress-container" style="display: none"  >
                    <label>{{text_progress_descr}}</label><span class="progress-value">0%</span>
                    <div class="progress" style="height: 15px;"  >
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript">
    
 $("#form-parse button").html('{{button_parse}}');   
    
    
$("#form-parse").on('submit',function(e){
    $('.progress-container').show();
    $("#form-parse button").html('<i id="spinner_icon" class="fa fa-circle-o-notch fa-spin"></i>{{button_parsing}}');
    var progress = 0;
    var timerId = setInterval(function() {
        progress += 0.2;
        $('.progress-value').html(Math.round(progress) + '%');
        $('.progress-bar').width(progress + '%');
        
        }, 100);
    e.preventDefault();
    var parsername= $(this).find('select').val();
    $.post('index.php?route=extension/aruna/sellerparserlist/startParsing', {parsername: parsername}, function(ok){
            if(ok){
                progress = 100;
                setTimeout(function() {
                    clearInterval(timerId);
                    alert( '{{text_loading_completed}}' );
                    $("#form-parse button").html('<i id="spinner_icon" class="fa fa-circle-o-notch fa-spin"></i>{{button_parse_completed}}');
                    location = 'index.php?route=extension/aruna/sellersync';
                }, 500);
                $('.progress-container').hide();
                return;
            }
    });
});

</script>
{{ footer }}