<footer class="footer-container typefooter-{{typefooter ? typefooter : '1'}}">
	{#======	FOOTER TOP	=======#}  
	{% if footer_block15 is not empty %}
	<div class="footer-main desc-collapse showdown" id="collapse-footer">
	
		{{footer_block15}}
			
	</div>
	<div class="button-toggle hidden-lg hidden-md">
         <a class="showmore" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapse-footer">
            <span class="toggle-more">{{ objlang.get('show_more') }} <i class="fa fa-angle-down"></i></span> 
            <span class="toggle-less">{{ objlang.get('show_less') }} <i class="fa fa-angle-up"></i></span>           
		</a>        
	</div>
	{% endif %}
	
	
	{#======	FOOTER BOTTOM	=======#} 
	<div class="footer-bottom">
		<div class="container">		
			{% if soconfig.get_settings('imgpayment_status')%} 
			<div class="payment-w">
				<img src="image/{{  soconfig.get_settings('imgpayment') }}"  alt="imgpayment">
			</div>
			{% endif %}
		</div>
	</div>
</footer>